{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects') }}">Projects</a></li>
        <li class="breadcrumb-item active">Roles</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/work/projects/roles/_tabs.html.twig') }}

    <div class="controls">
        <a href="{{ path('work.projects.roles.create') }}" class="btn btn-success">Add Role</a>
    </div>

    <div class="card my-1">
        <div class="card-header">Projects</div>
        <div class="card-body">
            <table class="table table-bordered my-1 table-hover">
                <thead>
                <tr>
                    <th></th>
                    {% for role in roles %}
                        <th>
                            <a href="{{ path('work.projects.roles.role',{ 'id' : role.id }) }}">{{ role.name }}
                                ({{ role.memberships_count }})</a>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for permission in permissions %}
                    <tr>
                        <td>{{ permission|trans({},'work_permissions') }}</td>
                        {% for role in roles %}
                            <td>
                                {% if permission in role.permissions %}
                                    <span class="fa fa-check"></span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}